@charset "UTF-8";
@font-face {
  font-family: 'Abolition Regular';
  src: url("../fonts/abolition-regular-webfont.eot");
  src: url("../fonts/abolition-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/abolition-regular-webfont.woff") format("woff"), url("../fonts/abolition-regular-webfont.ttf") format("truetype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.button {
  background-color: #17494d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 45px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #0f3336;
}

.button__long {
  width: 100%;
  height: 50px;
}

h1,
h2 {
  font-family: 'Abolition Regular', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 90px;
  color: black;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  margin: 12px 0 0;
}

h2 {
  color: #323232;
  font-size: 53px;
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 26px;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

a:link {
  color: #ffa949;
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, 0.4);
}

a:active {
  color: lightcoral;
}

.main-header {
  padding-top: 170px;
  height: 400px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffa949), color-stop(90%, transparent)), -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent)), #ffa949 url("../img/mountains.jpg") no-repeat center;
  background: linear-gradient(#ffa949, transparent 90%), linear-gradient(to top, #fff, transparent), #ffa949 url("../img/mountains.jpg") no-repeat center;
  background-size: cover;
}

.contact-border {
  border: 2px solid darkgrey;
  border-radius: 8px;
}

header .contact-content h2 {
  color: #80A503;
}

.contact-content {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 95px;
  width: 400px;
  height: 400px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
}

.title {
  color: white;
  font-size: 30px;
  letter-spacing: 6px;
  font-weight: 200;
  border-bottom: 2px solid;
  padding-bottom: 10px;
}

.intro {
  font-size: 26;
  line-height: 1.6;
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
  padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
  padding-top: 80px;
  padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #ffa949;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

.primary-content,
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.wildlife {
  color: white;
  text-align: left;
  padding: 18% 24%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background: #434a52 url("../img/bear.jpg") no-repeat center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.arrow {
  width: 50px;
  margin-top: 150px;
}

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left;
}

.resorts {
  float: right;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.contact-title {
  text-align: center;
  padding-top: 30px;
}

.contact-secondary-title {
  padding-left: 70px;
  padding-right: 70px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  padding-right: 5px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 55%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 90%;
}

.row {
  padding-left: 70px;
  padding-right: 70px;
}

.modal-close {
  background-color: #fefefe;
  margin: auto;
  padding-left: 70px;
  padding-right: 70px;
  width: 55%;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: relative;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 16px;
  height: 800px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Innentől a form CSS */
form {
  padding-top: 20px;
}

input[type=text], input[type=tel], input[type=email], select, textarea {
  color: black;
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 0px;
  resize: vertical;
}

input[type=text]:hover, input[type=tel]:hover, input[type=email]:hover, select:hover, textarea:hover {
  border: 1px solid #2d7e85;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: black;
}

input[type=submit] {
  background-color: #17494d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #0f3336;
}

.col-50-left {
  float: left;
  width: 49%;
  padding: 0px;
}

.col-50-right {
  float: right;
  width: 49%;
  padding: 0px;
}
/*# sourceMappingURL=style.css.map */